@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Fever Check Page</h1>

    <form action="/action_page.php">
        <label for="fname">Temperature:</label><br>
        <input type="text" id="temp" name="fname" value="30"><br>
        <input type="submit" value="Check">
    </form>

    <p>If you click the "Submit" button, you will be fixed.</p>
</div>


