@{
    ViewData["Title"] = "Fever Check";
}

<div class="text-center">
    <h1 class="display-4">Fever Check Page</h1>

@using (Html.BeginForm("Fevercheck", "Doctor")){
        <label for="fname">Temperature:</label><br>
        <input type="text" name="temperature" required><br>
        <input type="submit" value="Check">
}

 
@if(ViewBag.Msg != null){
   <p>@ViewBag.Msg</p>
}

