@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Please have a look at my projects:</p>
<iframe src="https://ammarrepos.github.io" width="100%" height="400" frameborder="0" scrolling="no"></iframe>